<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand mx-5" href="/">
            <h2 style="color:rgb(96,162,206)">Hood<span style="color: rgb(214, 123, 18);">411</span></h2>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ">
                <a class="nav-link active mx-5" aria-current="page" href="{% url 'home' %}">Home</a>
                <a class="nav-link" href="admin/newsapp/profile/">Admin Dashboard</a>
            </div>         
            <div class="navbar-nav mx-5">
                <form method="POST" action="{% url 'search' %}" name="Search">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search For A Business" name="Search Business" style="width: 350px;">
                    </div>
                </form>
                {% if user.is_authenticated %}
                    <a class="nav-link  mx-5" href="#" name="add_business">Add Business</a>
                    <a class="nav-link  mx-5" href="#" name="add_hood">Add Neighbourhood</a>
                    <a class="nav-link  mx-5" href="#" name="new_post">New Post</a>
                    <div class="dropdown">
                        <button class="btn btn-link btn-sm" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <div style="background-color: #ffffff;">
                                {% if user.profile.profile_pic %}
                                <div class="mx-2">
                                    <h5 style="color:rgb(96,162,206)">{{user.profile.user}}</h5>
                                </div>
                                <div>
                                    <img class="rounded-circle" src="{{ user.profile.profile_pic.url }}" height="40" width="40">
                                </div>
                                {% else%}
                                <i class="fa-solid fa-user-large"></i>                                
                                {% endif %}
                            </div>
                        </button> 
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" name="profile"><i class="fa-solid fa-user-large"></i> My Profile</a>
                            <a class="dropdown-item" href="#" name="businesses"><i class="fa-solid fa-briefcase"></i> Businesses</a>
                            <a class="dropdown-item" href="#" name="MyNeighbourhoods"><i class="fa-solid fa-location-pin"></i> Neighbourhoods</a>
                            <a class="dropdown-item" href="#" name="posts"><i class="fa-solid fa-file"></i> Posts</a>
                            <a class="dropdown-item" href="#" name="edit_profile"><i class="fa-solid fa-edit"></i> Edit Profile</a>
                            <a class="dropdown-item" href="#" name="logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'register' %}" name='register'>
                        <button class="btn btn-md btn-primary ms-3" style="margin-left: 30px;">Sign Up</button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
